<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>TODO:: {% block title %}{% endblock %}</title>
</head>
<body>
    <div style="border-top: 2px solid red;"></div>
    <div>
        {% block content %}

        {% endblock %}
    </div>
    <script>
        var title = document.querySelectorAll("input[type='text']")[0];
        title.classList.add("border");
        title.classList.add("border-gray-400")
        title.classList.add("outline-none")
        title.classList.add("focus:border-gray-800")
        title.classList.add("px-2")
        title.classList.add("py-1")
        console.log(title)
    </script>
</body>
</html>