{% extends './base.html' %}

{% block title%} HOME {% endblock %}

{% block content %}
<div class="flex bg-teal-500 align-center justify-between shadow-lg">
    <h1 class="text-2xl font-bold px-4 py-3 text-gray-100">Todo's List of User</h1>
    {% if request.user.is_authenticated %}
    <span class="text-lg font-semibold text-gray-100 inline-block py-3 py-2 mr-6">@{{user.username}}</span>
    {% else %}
    <div class="mr-8">
        <a href="{% url 'login' %}" class="px-4 py-2 uppercase my-2 text-xs font-bold tracking-wide text-white rounded-lg hover:bg-red-700 bg-red-500 inline-block ">Login Now</a>
    </div>
    {% endif %}
</div>
<!-- Do It: Green -->
<!-- Not Mandatory: Yellow -->
<!-- Urgent: Red -->
<hr>
<a href="{% url 'todo-create' %}">Create a new todo</a>
<br>
{%for i in todos%}
{%if i.category.name == "Urgent"%}
<ul class="p-4 bg-red-200 m-4">
    <li>
        {% if i.status == False %}
        Title: <a style="color: blue;" href="{% url 'todo-view' i.pk %}">{{i.title}}</a>
        {%else%}
        Title: <a style="color: green;" href="{% url 'todo-view' i.pk %}">{{i.title}}</a>
        {% endif %}
    </li>
    <li><a class="px-4 py-2 uppercase my-2 text-xs font-bold tracking-wide text-white rounded-lg hover:bg-teal-700 bg-teal-500 inline-block" href="{% url 'todo-update' i.pk %}">Update Todo</a>
    <a class="px-4 py-2 uppercase my-2 text-xs font-bold tracking-wide text-white rounded-lg hover:bg-red-700 bg-red-500 inline-block" href="{% url 'todo-delete' i.pk %}">Delete Todo</a></li>
</ul>
{%elif i.category.name == "Not Mandatory"%}
<ul class="p-4 bg-yellow-200 m-4">
    <li>
        {% if i.status == False %}
        Title: <a style="color: blue;" href="{% url 'todo-view' i.pk %}">{{i.title}}</a>
        {%else%}
        Title: <a style="color: green;" class="line-through" href="{% url 'todo-view' i.pk %}">{{i.title}}</a>
        {% endif %}
    </li>
    <li><a class="px-4 py-2 uppercase my-2 text-xs font-bold tracking-wide text-white rounded-lg hover:bg-teal-700 bg-teal-500 inline-block" href="{% url 'todo-update' i.pk %}">Update Todo</a>
    <a class="px-4 py-2 uppercase my-2 text-xs font-bold tracking-wide text-white rounded-lg hover:bg-red-700 bg-red-500 inline-block" href="{% url 'todo-delete' i.pk %}">Delete Todo</a></li>
</ul>
{%elif i.category.name == "Do It"%}
<ul class="p-4 bg-green-200 m-4">
    <li>
        {% if i.status == False %}
        Title: <a style="color: blue;" href="{% url 'todo-view' i.pk %}">{{i.title}}</a>
        {%else%}
        Title: <a style="color: green;" href="{% url 'todo-view' i.pk %}">{{i.title}}</a>
        {% endif %}
    </li>
    <li><a class="px-4 py-2 uppercase my-2 text-xs font-bold tracking-wide text-white rounded-lg hover:bg-teal-700 bg-teal-500 inline-block" href="{% url 'todo-update' i.pk %}">Update Todo</a>
    <a class="px-4 py-2 uppercase my-2 text-xs font-bold tracking-wide text-white rounded-lg hover:bg-red-700 bg-red-500 inline-block" href="{% url 'todo-delete' i.pk %}">Delete Todo</a></li>
</ul>
{%endif%}
<hr style="margin: 0 20%">
{% endfor %}
{% endblock %}
